@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

.main-screen {
  background: url(img/img-bg.png) no-repeat center/cover;
  width: 100%;
  min-height: 800px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.logo:hover {
  text-decoration: none;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
}

.main-nav-list-item {
  margin-right: 25px;
}

.main-nav-list li:last-of-type {
  margin-right: 0;
}

.main-nav-list-item a {
  padding: 25px 5px;
  text-decoration: none;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 4px solid transparent;
}

.main-nav-list-item a:hover,
.main-nav-list-item a:active {
  border-bottom-color: #ff4081;
}

.main-nav-list-item a:after {
  content: url("img/arrow-down.png");
  margin-left: 5px;
  width: 10px;
  height: 7px;
}

.transparent-text {
  margin-top: 200px;
  margin-bottom: 50px;
  opacity: 0.7;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 22px;
  font-weight: 400;
  font-variant: small-caps;
}

.main-screen-header {
  margin: 0 auto;
  max-width: 810px;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-size: 42px;
  font-weight: 900;
  text-transform: uppercase;
}

.main-screen-btn {
  display: inline-block;
  margin-top: 100px;
  padding: 17px 28px;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 16px;
  line-height: 12px;
  font-weight: 400;
  font-variant: small-caps;
  box-shadow: 0 17px 24px rgba(48, 63, 159, 0.2);
  border-radius: 25px;
  background-color: #303f9f;
  cursor: pointer;
}

.main-screen-btn:hover,
.main-screen-btn:active {
  color: #303f9f;
  background-color: #1e90ff;
}

.content {
  background-color: #f5f5f5;
}

.blog {
  padding-right: 20px;
}

.content-wrapper {
  padding-top: 90px;
  display: grid;
  grid-template-columns: 1fr 330px;
}

.big-article {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
}

.article-image {
  position: relative;
}

.on-image-icons {
  position: absolute;
  bottom: 18px;
  right: 20px;
  display: flex;
}

.post-comments {
  margin-right: 20px;
}

.post-comments, .post-likes {
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.post-comments i {
  margin-right: 8px;
  color: #ffffff;
  font-family: "Material Icons", serif;
  font-size: 16px;
}

.post-likes i {
  margin-right: 8px;
  color: #ffffff;
  font-family: "Material Icons", serif;
  font-size: 18px;
}

.article-text-wrapper {
  padding: 20px 20px 15px;
}

.article-header {
  opacity: 0.87;
  color: #000000;
  font-family: Montserrat, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
}

.article-text {
  opacity: 0.87;
  color: #000000;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.article-footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-author {
  display: flex;
  font-weight: 400;
  line-height: 27px;
}

.article-author-avatar {
  margin-right: 8px;
  float: left;
}

.article-author-text-info {
  display: flex;
  flex-direction: column;
}

.article-author-name {
  opacity: 0.87;
  color: #000000;
  font-family: Montserrat, serif;
  font-size: 14px;
}

.article-post-date {
  opacity: 0.54;
  color: #212121;
  font-family: Montserrat, serif;
  font-size: 12px;
}

.related-articles {
  margin-top: 85px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.article {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
}

.article-theme {
  position: absolute;
  left: 20px;
  bottom: 15px;
  color: #ffffff;
  font-family: Montserrat, serif;
  font-size: 16px;
  line-height: 27px;
  font-variant: small-caps;
}

.related-article-header {
  opacity: 0.87;
  color: #000000;
  font-family: Montserrat, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.related-article-text {
  opacity: 0.87;
  color: #000000;
  font-family: "Open Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.more-button {
  color: #303f9f;
  font-family: Montserrat, serif;
  font-size: 16px;
  line-height: 36px;
  margin: 80px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.more-button img {
  margin-left: 8px;
}

.sidebar {
  padding: 35px 30px;
  background-color: #fff;
}

.aside-header {
  width: 100%;
  color: #3f51b5;
  font-family: Montserrat, serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(41, 98, 255, 0.4);
}

.categories-list {
  margin: 10px 0 30px;
}

.category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  opacity: 0.87;
  color: #000;
  font-family: "Open Sans", serif;
  font-size: 14px;
  line-height: 40px;
  border-bottom: 1px solid rgba(55, 47, 43, .1);
}

.category:last-of-type {
  border-bottom: none;
}

.posts-count {
  font-weight: 700;
}

.sidebar-subscribe-form {
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.sidebar-subscribe-form label {
  margin: 10px 0 ;
  display: block;
  color: #000;
}

.sidebar-subscribe-form input {
  padding: 4px 16px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  opacity: 0.38;
  color: #000;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
}

.sidebar-subscribe-form button {
  margin-top: 10px;
  padding: 5px 0;
  color: #fff;
  font-family: Montserrat, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  font-variant: small-caps;
  width: 100%;
  border-radius: 4px;
  background-color: #3f51b5;
}

.subscribe-separator {
  margin-top: 5px;
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  opacity: 0.87;
  color: #000;
  font-family: "Open Sans", serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.subscribe-separator:before,
.subscribe-separator:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  height: 1px;
  background-color: #000;
}

.subscribe-separator:before {
  left: 0;
}

.subscribe-separator:after {
  right: 0;
}

.alternative-subscribe {
  margin-top: 13px;
}

.alternative-subscribe-list {
  display: flex;
  justify-content: space-between;
}