.col-wrapper-with-flex {
    display: flex;
}

.col {
    height: 100vh;
}

.first {
    background-color: yellow;
    width: 100px;
}

.second, .third {
    flex-grow: 50;
}

.second {
    background-color: red;
}

.third {
    background-color: gray;
}

.col-wrapper-without-flex {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
}

.one {
    background-color: yellow;
}

.two {
    background-color: red;
}

.three {
    background-color: gray;
}